ul.nav {
	background-color: #006633;
}

.nav-link {
	color: #FF6666;
	padding: .5em .75em;
}

.tab-img {
	height:90%;
} 

.tab-pane, body{
	background-color: #FFF;
}

#stickyHeader, #header-info{
	background-color: #CC3333;
}

#mrwfNav {
	font-weight: bold;
	color: #FF6666;
}

#mrwfNav a:hover {
	color: #FF6666;
}

#mrwfNav .nav-link.active {
	background-color: #2b7028;
	border-color: #2b7028;
	color: #FF6666;
}

#mrwfFilters {
	font-weight: bold;
	margin-top: -1px;
	color: #FF6666;
	background-color: #cc9900;
	font-size:.75em;
}

#mrwfFilters a:hover {
	color: #2b7028;
}

#mrwfFilters .nav-link {
	padding:1px;
	color:#2b7028;
}

#mrwfFilters .nav-item {
	padding:1px 5px;
}
#mrwfFilters {
	padding-left:.5rem;
}

#mrwfFilters .nav-link.active {
	background-color: #cc9900;
	border-color: #cc9900;
	color: #FF6666;
}

.header-img { 
	height:60px;
}

.header-item {
  	margin: 0 1%;
	padding: 2px;
	color: #DDDDDD;
}

#search-box {
	display:block;
}

.tab-content {
	padding: 30px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #CC3333;
}

.header-item input {
	background-color: #990000;
	color: #DDDDDD;
	padding-left:0.25em;
}

.header-item input {
	background-color: #990000;
	color: #DDDDDD;
	padding-left:0.25em;
}

.header-item button {
	background-color: #cc9900;
	color: #FFFFFF;
}

body {
  font-family: "Verdana", "Times New Roman";
}
