img.donor-logo {
  max-width: 150px;
  max-height: 150px;
  padding: 5px;
  display:block;
}

.sponsor-name {
  display: block;
  font-weight: bold
}

fieldset.thanks legend {
  font-weight: bold;
}

fieldset.thanks {
  text-align: center;
}

fieldset.thanks ul {
  list-style-type: none;
  text-align: center;
}

fieldset.thanks ul li {
  display:inline-block;
}

.special-why {
  font-weight: bold;
  display:inline;
}

#donors li {
  border-bottom: dotted 1px;
}
